
body {
	margin: 0;
	padding: 20px;
	font-family: 'Verdana';
}

h1 {
	text-align: center;
}

ul {
	list-style: none;
	margin: 0 50px 0 50px;
	padding: 0px;
}

li {
	padding: 5px;
	margin: 5px;
	border: 1px solid black;
	color: #FFFFCC;
}

li span {
	margin-right: 50px;
	font-size: 90%;
	font-family: 'Courier';
	/*color: white;*/
}

.show {
	color: #A1A199;
	float: right;
	font-size: 90%;
	cursor: pointer;
	margin-top: -4px;
}

li ul.notibar {
	display: inline;
	float: right;
}

li ul li {
	display: inline;
	border: none;
}

.noti {
	cursor: pointer;
}

ul li div {
	display: none;
}

div ul {
	margin: 10px 50px 0 140px;
	background: #FFF;
	border: solid 1px gray;
	padding: 3px;
}

div li {
	margin: 0px;
	padding-left: 22px;
	border: none;
	color: #383838;
	font-size: 85%;
	display: block !important;
}

div li a:link, div li a:active, div li a:visited, div li a:hover {
	text-decoration: none;
	color: #e55911;
	/* background: #3B2207; */
	padding: 5px;
}

li.mark {
	background: url('16-image-add.png') left center no-repeat;
}

li.success {
	background: url('16-circle-green-check.png') left center no-repeat;
}

li.failure {
	background: url('16-circle-red-remove.png') left center no-repeat;
}



/* --------------------------------- */
/*MESSAGE BOX CLEAN	serie	  		 */
.clean-gray{
	border:solid 1px #DEDEDE; 
	background:#EFEFEF;
	color:#222222;
	padding:4px;
	text-align:center;
}
.clean-yellow{
	border:solid 1px #DEDEDE; 
	background:#FFFFCC;
	color:#222222;
	padding:4px;
	text-align:center;
}
.clean-ok{
	border:solid 1px #349534; 
	background:#C9FFCA;
	color:#008000;
	font-weight:bold;
	padding:4px;
	/*text-align:center;*/
}
.clean-error{
	border:solid 1px #CC0000; 
	background:#F7CBCA;
	color:#CC0000;
	font-weight:bold;
	padding:4px;
	/*text-align:center;*/
}
